.container-detalhe-conta-cliente{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item3{
    width: 400px;
    height: 250px;
    margin: 15px;
    padding-top: 35px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 7px black;
    background-color: gold;
    transition: background 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
}

.item3:hover{
    transform: scale(1.1)
}

.paragrafo{
    text-decoration: none;
    font-size: 26px;
    font-weight: bolder;
    color: dodgerblue;
}