.container-agencia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-item{
    width: 300px;
    height: 200px;
    margin: 15px;
    padding-top: 65px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 7px black;
    background-color: gold;
    transition: background 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
}

.box-item:hover{
    transform: scale(1.1)
}

.link{
    text-decoration: none;
    font-size: 26px;
    font-weight: bolder;
    color: dodgerblue;
}

.span-agencia{
    font-size: 18px;
    font-weight: bolder;
    color: dodgerblue;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
}

.checkbox{
    float: left;
    margin: 15px 0 0 15px;
    cursor: pointer;
}