.footerPadrao{
    background: yellow;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    padding: 15px 0;
    position: relative;
    z-index: 3;
}

.LinkFooter{
    margin: 10px;
    text-decoration:  none;
    color: dodgerblue;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.paragrafoFooter{
    font-size: 14px;
    font-weight: bold;
    color: dodgerblue;
    margin-top: 18px;
}