.header{
    background: yellow;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    padding: 15px 0;
    position: relative;
    z-index: 3;
}

.Link{
    margin: 10px;
    text-decoration:  none;
    color: dodgerblue;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.Link:hover{
    transform: scale(1.1);
}

.logo{
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    float: left;
    color: dodgerblue;
    margin-left: 35px;
    margin-bottom: 55px;
    padding-top: 5px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.button {
    display: inline-block;
    margin-left: 100px;
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    background-color: dodgerblue;
    color: #fff;
    transition: background 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.1);
}