/*   BANDEIRAS */
section{
    float: left;
}

div{
    width: 600px;
    height: 180px;
}

/*   Finlândia */

.finlandia1{
    background-color: white;
}

.finlandia2{
    background-color: blue;
}

.height{
    height: 120px;
}

/*   Japão */


.branco{
    color: #fff;
    position: relative;
    border: 1px black;
    height: 300px;
    border: 3px solid black;
}

.circuloMeio{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 40.5%;
    top: 35%;
}

.vermelho-japão{
    background-color: red;
}


/*   Alemanha */

.vermelho {
    background-color: red;
    width: 620px;
}

.amarelo {
    background-color: yellow;
    width: 620px;
}

.preto {
    background-color: black;
    width: 620px;
}

/*   Grécia  */
.grecia{
    background-color: white;
    border-top: 40px solid #266dff;
    height: 80px;
    position: relative;
}

.grecia2{
    position: absolute;
    height: 80px;
    background-color: #266dff;
}

.grecia3{
    position: absolute;
    height: 40px;
    background-color: #fff;
}

/*   Libano  */
.libano{
    background-color: red;
    height: 120px;
}

.libano2{
    background-color: white;
    height: 180px;
}

img{
    height: 150px;
    padding: 20px 0 0 215px;
}

.col{
    float: left;
    box-sizing: border-box;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.clearfix:before,
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

@media (max-width: 479px){
    .col-sm-100{
        width: 100%;
    }

    .col-sm-half{
        width: 50%;
    }

    .col-sm-75{
        width: 75%;
    }

    .col-sm-half-half{
        width: 25%;
    }
}

@media (min-width: 480px){
    .col-md-100{
        width: 100%;
    }

    .col-md-half{
        width: 50%;
    }

    .col-md-75{
        width: 75%;
    }

    .col-md-half-half{
        width: 25%;
    }
}

@media (min-width: 900px){
    .col-lg-100{
        width: 100%;
    }

    .col-lg-half{
        width: 50%;
    }

    .col-lg-75{
        width: 75%;
    }

    .col-lg-half-half{
        width: 27%;
    }

    .col-lg-30{
        width: 29%;
    }

    .col-lg-20{
        width: 20%;
    }

    .col-lg-20-g{
        width: 11%;
    }

    .col-lg-40{
        width: 40%;
    }
}

@media (max-width: 479px){
    .show-on-sm{
        display: block;
    }
}

@media (min-width: 480px) and (max-width: 899px) {
    .show-on-md{
        display: block;
    }
}

@media (min-width: 900px){
    .show-on-lg{
        display: block;
    }
}