/*      BANNER      */

.banner{
    background: url('../img/santuario_das_maes.jpg') no-repeat center center / cover;
    font-family: "Gloucester MT Extra Condensed", sans-serif;
    font-weight: bolder;
    position: relative;
    color: #1a1b27;
}

.banner:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;

    background: -moz-linear-gradient(-45deg, #ffffff 0%, #b9fde7 2%, #658e99 0%);
    background: -webkit-linear-gradient(-45deg, #ffffff 0%, #b9fde7 2%, #658e99 0%);
    background: linear-gradient(135deg,  #ffffff 0%, #b9fde7 2%, #658e99 0%);

}

.banner .container{
    height: calc(100vh - 70px);
    position: relative;
    z-index: 2;
}

.banner h1{
    margin-bottom: 30px;
    font-size: 52px;
    line-height: 52px;
    text-transform: uppercase;
    box-shadow: #333333;
}

.banner p {
    font-size: 34px;
    line-height: 40px;
}

@media (max-width: 600px){
    .banner{
        margin-bottom: 15px;
        font-size: 25px;
        line-height: 25px;
    }

    .banner p{
        font-size: 12px;
        line-height: 14px;
    }

    .banner br{
        display: none;
    }
}