/*      BUTTON      */

.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    transition: background 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
    text-align: center;
    box-sizing: border-box;
}

.button:hover{
    transform: scale(1.1);
}

.button-black{
    background: black;
}

.button-black:hover{
    background: #1a1b27;
}

@media (max-width: 480px){
    .button{
        display: block;
        width: 100%;
    }
}