/*      DIVERSÃO      */

.container2{
    width: 100vw;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: #FFF;
}

.article-list{
    padding: 20px 0 0;
    margin: 20px 0 0;
    list-style: none;
}

article{
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out 0s;
}

article:hover{
    transform: scale(1.05);
}

article p{
    min-height: 220px;
    margin-top: 15px;
}

article img{
    width: 310px;
    height: 230px;
}

article h3{
    font-weight: bolder;
}

@media (min-width: 480px){
    .article-list p{
        min-height: 306px;
    }
}

@media (min-width: 900px){
    .article-list p{
        min-height: 280px;
    }
}
