/*      GENERAL      */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333;
}

@media (max-width: 600px){
    body{
        font-size: 14px;
        line-height: 18px;
    }
}

a,
button,
input,
textarea{
    outline: none;
}

article p{
    text-align: left;
}

a{
    color: #1a1b27;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    transform: scale(1.1);
}

li{
    margin: 0 25px 0 25px;
}

nav ul{
    margin: 30px 50px 0 0;
    list-style: none;
}

nav li,
nav a {
    display: inline-block;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.clearfix:before,
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

h1,
h2,
h3,
h4,
p{
    margin: 0 0 15px;
}

h1+p{
    padding: 20px;
}

h2{
    font-size: 24px;
    line-height: 30px;
}

h3{
    font-size: 20px;
    line-height: 24px;
}

@media (max-width: 600px){
    h2{
        font-size: 20px;
        line-height: 24px;
    }

    h3{
        font-size: 16px;
        line-height: 20px;
    }

    h4{
        font-size: 14px;
        line-height: 18px;
    }
}

.table,
.table-cell{
    height: 100%;
    width: 100%;
}

.table{
    display: table;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
}

.text-center{
    text-align: center;
}

hr{
    margin: 30px 0;
    border: none;
    border-top: 1px dashed #aaa;
    clear: both;
}