/*      SECTION      */

.container{
    max-width: 980px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

section{
    padding-bottom: 20px;
    text-align: center;
}

@media (max-width: 600px){
    section{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.col{
     float: left;
     padding: 0 15px;
     box-sizing: border-box;
 }

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

.row{
    margin: 0 0 16px 0;
}

.article-image{
    margin: 0 15px 10px 0;
}

h1,
h2,
h3
{
    margin: 0 0 15px;
}

@media (max-width: 479px){
    .col-sm-100{
        width: 100%;
    }

    .col-sm-half{
        width: 50%;
    }

    .col-sm-75{
        width: 75%;
    }

    .col-sm-half-half{
        width: 25%;
    }
}

@media (min-width: 480px){
    .col-md-100{
        width: 100%;
    }

    .col-md-half{
        width: 50%;
    }

    .col-md-75{
        width: 75%;
    }

    .col-md-half-half{
        width: 25%;
    }
}

@media (min-width: 900px){
    .col-lg-100{
        width: 100%;
    }

    .col-lg-half{
        width: 50%;
    }

    .col-lg-75{
        width: 75%;
    }

    .col-lg-half-half{
        width: 25%;
    }

    .col-lg-30{
        width: 29%;
    }

}

@media (max-width: 479px){
    .show-on-sm{
        display: block;
    }
}

@media (min-width: 480px) and (max-width: 899px) {
    .show-on-md{
        display: block;
    }
}

@media (min-width: 900px){
    .show-on-lg{
        display: block;
    }
}