.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black
}

.item{
    width: 300px;
    height: 330px;
    margin: 20px;
    padding-top: 55px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 7px black;
    background-color: gold;
    transition: background 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
}

.item:hover{
    transform: scale(1.1)
}

.paragrafo{
    text-decoration: none;
    font-size: 26px;
    font-weight: bolder;
    color: dodgerblue;
}

.button{
    display: inline-block;
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
    font-size: 26px;
    line-height: 26px;
    background-color: dodgerblue;
    color: #fff;
    transition: background 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}

.input{
    width: 450px;
    height: 42px;
    margin: 10px;
    font-size: 14px;
    box-sizing: border-box;
    border: solid 2px black;
    border-radius: 5px;
}

.button:hover{
    transform: scale(1.1);
}

img{
    width: 50px;
    box-sizing: border-box;
    margin: 10px;
}