/*    formulario   */

form input{
    padding: 5px;
}
form label{
    font-size: 16px;
    padding: 10px;
}

@media (max-width: 479px){
    .map-rounded{
        margin: 0 -15px;
        border-radius: 0;
    }
    .map{
        height: 100vh;
    }
}

input:focus{
    background-color: rgb(238, 236, 236);
}

.field:focus{
    border-color: #0f7afd;
}

::-webkit-input-placeholder { /* Edge */
    color: #bbb;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
  }
  
  ::placeholder {
    color: #bbb;
 }