
body{
    background-color: #ffffff;
}

.texto{
    position: absolute;
    top: 80px;
    left: 720px;
}

.img{
    background: url('../2200032_50ba6.jpg') no-repeat border-box top;
}

.img2{
    width: 400px;
    height: 150px;
    padding: 25px 0 0 25px;
}

.texto2{
    padding-top: 100px;
}

.type, .stats{
    text-align: center;
}

.imagemPoke{
    position: absolute;
    top: 15px;
    left: 485px;
   /*  padding: 70px 0 0 15px; */
} 

section{
    height: 150px;
    display: block;
    position: absolute;
}

.section{
    margin-left: 150px;
}

img{
    width: 150px;
    height: 150px;
    padding: 85px 0 0 25px;
}

form{
    float: right;
    text-align: center;
    padding-top: 10px;
    display: inline;
}
h4{
    color: black;
    display: block;
    text-align: left;
}

form label{
    color: red;
    font-weight: bolder;
}

.imagemFundo{
    position: absolute;
    width: 350px;
    left: 470px;
    top: 50px;
}

.clearfix:before,
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

.row{
    margin: 0 0 16px 0;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}