.App2{
  background: url('black.jpg') no-repeat center center/ cover;
  width: 100%;
  height: 100%;
}

.App{
  background: url('black.jpg') no-repeat center center/ cover;
  width: 100%;
  height: 100%;
}

body{
  background-color: black;
}

.Link{
  text-decoration: none;
  margin: 10px;
  color: white;
  font-size: 16px;
}

.vermelho{
  color: red;
  text-align: center;
}

.verde{
  color: green;
  text-align: center;
}

.Input{
  border: 2px solid red;
}

h1,
h2{
  color: #fff;
}

.span2{
  font-size: 18px;
}

p{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

span{
  color: white;
  font-size: 24px;
  font-weight: bolder;
  margin: 20px;
}

span,
input{
  margin: 10px 0 10px 10px;
}

li{
  list-style-type: none;
}

.button {
  background: black;
  display: inline-block;
  margin: 20px;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  transition: background 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
  text-align: center;
  box-sizing: border-box;
}

.button2 {
  background: black;
  display: inline-block;
  margin: 15px;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  transition: background 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
  text-align: center;
  box-sizing: border-box;
}

.button2:hover{
  transform: scale(1.1);
  background: #1a1b27;
}

.button:hover{
  transform: scale(1.1);
  background: #1a1b27;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
