
.fade-in{
    -webkit-animation: fade-in 1.5s cubic-bezier(1.000, 0.000, 0.000, 1.000) forwards;
	        animation: fade-in 1.5s cubic-bezier(1.000, 0.000, 0.000, 1.000) forwards;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.fade-out {
	-webkit-animation: fade-out 1.5s cubic-bezier(1.000, 0.000, 0.000, 1.000) forwards;
	        animation: fade-out 1.5s cubic-bezier(1.000, 0.000, 0.000, 1.000) forwards;
}
@-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }