.titulo{
    color: dodgerblue;
    font-weight: bolder;
    padding-right: 160px;
}

.input{
    width: 450px;
    height: 42px;
    margin: 10px;
    font-size: 14px;
    box-sizing: border-box;
    border: solid 2px black;
    border-radius: 5px;
}

.label{
    font-size: 24px;
    margin: 5px;
    font-weight: bold;
    color: dodgerblue;
}

.button-filtro{
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
    font-size: 18px;
    margin-left: 15px;
    line-height: 26px;
    background-color: dodgerblue;
    color: #fff;
    transition: background 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

.button-filtro:hover{
    transform: scale(1.1);
}