.container{
    width: 100vw;
    height: 90vh;
    background: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerLogin{
    font-size: 40px;
    font-weight: bolder;
    color: dodgerblue;
    background: yellow;
}

.containerLogin{
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 7px black;
}

.containerLogin:hover{
    background-color: gold;
    transform: scale(1.1);
    transition: background 300ms ease-in-out 0s, transform 300ms ease-in-out 0s;
}

.inputLogin{
    width: 200px;
    height: 42px;
    margin: 3px;
    font-size: 14px;
    box-sizing: border-box;
    border: solid 2px black;
    border-radius: 5px;
}

.inputLogin:focus{
    background-color: lightgrey;
}

.buttonLogin{
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bolder;
    line-height: 16px;
    color: black;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

h1{
    font-size: 36px;
    color: royalblue;
}