

.banner2{
    background: url('../img/Vem_Ser_DBC.png') no-repeat center center / cover;
    position: relative;
    color: #fff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.banner2 .container{
    height: calc(100vh - 70px);
    position: relative;
    z-index: 2;
}

.banner2 h1{
    margin-bottom: 30px;
    font-size: 52px;
    line-height: 52px;
    text-transform: uppercase;
}

.banner2 p {
    font-size: 22px;
    line-height: 28px;
}

.table-cell2{
    display: table-cell;
    vertical-align: bottom;
    padding: 0 0 30px 0;
}