/*      BUTTON      */

.button {
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    transition: background 200ms ease-in-out 0s, transform 200ms ease-in-out 0s;
    text-align: center;
    box-sizing: border-box;
}

.button:hover{
    transform: scale(1.1);
}

.button-blue{
    background: #0f7afd;
}

.button-green{
    background: #34ae49;
}

.button-blue:hover{
    background: #499bff;
}

.button-green:hover{
    background: #2ee00a;
}

.button-blue:active{
    background: #1e9bee;
}

.button-green:active{
    background: rgb(7, 202, 0);
}

@media (max-width: 480px){
    .button{
        display: block;
        width: 100%;
    }
}