/*     CONTATO    */

form{
    height: 355px;
}
form div{
    padding: 2px;
}

form input{
    padding: 5px;
}
form textarea{
    height: 100px;
    width: 200px;
}
form label{
    float: left;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
form h2{
    text-align: left;
    padding-left: 10px;
}

@media (max-width: 479px){
    .map-rounded{
        margin: 0 -15px;
        border-radius: 0;
    }
    .map{
        height: 100vh;
    }
}

input:focus{
    background-color: rgb(238, 236, 236);
}

textarea:focus{
    background-color: rgb(238, 236, 236);
}
.field{
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    margin-bottom: 15px;
    border: 1px solid #999;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.field{
    min-width: 100%;
    min-height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    /*REMOVE O RESIZE DA TEXTAREA = resize:none  */
}

.field:focus{
    border-color: #0f7afd;
}

::-webkit-input-placeholder { /* Edge */
    color: #bbb;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbb;
  }
  
  ::placeholder {
    color: #bbb;
  }

  .map{
      width: 100%;
      height: 475px;
      border: none;
      overflow: hidden;
  }