/*      FOOTER      */

nav{
    margin-bottom: 20px;
}
footer{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #efefef;
}

footer a{
    font-size: 16px;
    line-height: 16px;
    color: #666;
}

@media (max-width: 600px){
    .footer nav{
        margin-left: -15px;
        margin-right: -15px;
    }
}
