

.col{
    float: left;
    padding: 0 0 0 30px;
    box-sizing: border-box;
}

.col-half2{
    width: 50%;
}

.col-25{
    width: 25%;
}
.col2{
    float: right;
    padding: 0 60px 0 0;
    box-sizing: border-box;
}
.col-half3{
    width: 30%;
}
.col-half4{
    width: 40%;
}

.about-us{
    text-align: left;
}

.article-list2{
    padding: 5px;
    margin: 5px;
    border-top: 1px dashed #aaa;
    list-style: none;
}
/*
.article-list2 article{
    padding: 30px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out 0s;
}

.article-list2 article:hover{
    transform: scale(1.05);
}

.article-list2 p{
    min-height: 250px;
}
*/