/*      SOLUCOES      */

.container2{
    width: 100vw;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    background-color: #d9f8ff;
}

.article-list{
    padding: 60px 0 0;
    margin: 60px 0 0;
    border-top: 1px dashed #aaa;
    list-style: none;
}

.article-list article{
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out 0s;
}

.article-list article:hover{
    transform: scale(1.05);
}

.article-list p{
    min-height: 270px;
}

@media (min-width: 480px){
    .article-list p{
        min-height: 306px;
    }
}

@media (min-width: 900px){
    .article-list p{
        min-height: 400px;
    }
}
